.container{
    backdrop-filter: blur(60px);
    background-color: rgba(255,255,255,0.1);
    /* position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    height: 300vh;
    z-index: 2;
}