.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 28%;
    right: 5%;
    left: 5%;
    margin-bottom: 100px;
}
.container h1{
    font-size: 1.4rem;
    font-weight: 600;
    color: #2c2b2b;
}

.preBorder{
    background-color: #ffffff;
    height: 1px;
    width: 400px;
}
.nextBorder{
    background-color: #ffffff;
    width: 400px;
    height: 1px;
}
.rezqorazeq{
    color: #2c2b2b;
    font-size: 1.5rem;
    font-weight: 600;
}