.pagination{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 47% 100px auto;
    position: relative;
    bottom: 65px;
}
.pagination button{
    width: 80px;
    background-color: #0d83e0;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.pagination p{
     display: inline-block;
     border: 1px solid #0d83e0;
     width: 25px;
     text-align: center;
     border-radius: 5px;
}
.disabled{
    opacity: 0.3;
}
.selected{
    background-color: #0d83e0;
    color: #fff;
}