.container{
    margin: auto;
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 32%;
    right: 5%;
    left: 5%;
}
@media screen and (max-width: 800px) {
    .container{
      display: flex;
      overflow-x: auto;
      flex-direction: row;
      width: 90%;
      &::-webkit-scrollbar {
        display: none; /* برای کروم، سافاری و اپرا */
      }
    }
  
  }
