.container{
    margin: auto;
}
.pTags p{
    font-size: 1.4rem;
    line-height: 60px;
}
.pTags h2{
    margin-bottom: 15px;
}
.pTags{
    background-color: #f3f2f2;
    width: 90%;
    margin: 50px auto 30px auto;
    height: 880px;
    padding: 40px ;
    border-radius: 8px;
}